<footer>
  <div class="wrap foot-top">
    <div class="foot-brand">
      <div class="grp">{{ config().marca.titulo }}</div>
      <p>{{ config().marca.descricao }}</p>
    </div>
    @for (coluna of config().colunas; track coluna.id) {
      <div class="col">
        <h4>{{ coluna.titulo }}</h4>
        @for (link of coluna.links; track link.label) {
          @if (isInterno(link)) {
            <a [routerLink]="link.url">{{ link.label }}</a>
          } @else if (isExterno(link)) {
            <a
              [href]="link.url!"
              [attr.target]="link.nova_aba ? '_blank' : null"
              [attr.rel]="link.nova_aba ? 'noopener noreferrer' : null"
            >{{ link.label }}</a>
          } @else {
            <span class="link-text">{{ link.label }}</span>
          }
        }
      </div>
    }
  </div>

  @if (config().sponsors.length) {
    <div class="wrap">
      <div class="sponsors">
        @for (sp of config().sponsors; track sp.label; let last = $last) {
          @if (sp.url) {
            <a
              class="sp"
              [href]="sp.url"
              [attr.target]="sp.nova_aba ? '_blank' : null"
              [attr.rel]="sp.nova_aba ? 'noopener noreferrer' : null"
            >{{ sp.label }}</a>
          } @else {
            <span class="sp">{{ sp.label }}</span>
          }
          @if (!last) {
            <span class="sep"></span>
          }
        }
      </div>
    </div>
  }

  <div class="wrap foot-legal">
    <span>{{ config().legal.copyright }}</span>
    <span>{{ config().legal.links_texto }}</span>
  </div>
</footer>
