<div
  class="dropzone"
  [class.dropzone--compact]="compact()"
  [class.is-dragover]="isDragover"
  [class.disabled]="disabled()"
  (click)="onClick()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave()"
  (drop)="onDrop($event)"
>
  <input
    #fileInput
    type="file"
    hidden
    [multiple]="multiple()"
    [accept]="accept()"
    (change)="onInputChange($event)"
  />
  <div class="dropzone-icon">
    <svg
      [attr.width]="compact() ? 16 : 32"
      [attr.height]="compact() ? 16 : 32"
      viewBox="0 0 24 24"
      fill="none"
      aria-hidden="true"
    >
      <path
        d="M12 16V4m0 0L7 9m5-5l5 5M4 18v1a2 2 0 002 2h12a2 2 0 002-2v-1"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <div class="dropzone-copy">
    <p class="dropzone-text">
      @if (compact()) {
        <span class="dropzone-link">{{ hintLink() }}</span>
        {{ hint() }}
      } @else {
        {{ hint() }}
        <span class="dropzone-link">{{ hintLink() }}</span>
      }
    </p>
    @if (subhint()) {
      <p class="dropzone-sub">{{ subhint() }}</p>
    }
  </div>
</div>
